django>=4.2
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3
Pillow>=10.2
pandas>=2.2
numpy>=2.1.0
scikit-learn>=1.5.0
matplotlib>=3.8
seaborn>=0.13
plotly>=5.19
networkx>=3.2
beautifulsoup4>=4.12
requests>=2.31
python-decouple>=3.8
whitenoise>=6.6
opencv-python>=4.9
torch
torchvision

